:root {
    --dark: #252525;
    --bright: #eff0f2;
    --grey: #01162273;
    --dark_grey: #b0b9c6
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #e2e5e9;
    font-family: 'Arimo', sans-serif;

}

.container_main {
    margin: 60px auto;
    width: 1024px;
    background-color: #d9dfe7;
    box-shadow: 6px 6px 6px 6px rgba(180, 168, 168, 0.3);
    border-bottom: #575656;
    font-size: 18px;
    line-height: 1.25;
    min-height: 100%;

}

header {
    padding: 15px;
    text-align: center;
    background-color: #b0b9c6;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
}

.navigation a {
    padding: 14px 10px;
    line-height: 50px;
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    color: #ffb11b;
}

.navigation__link {
    font-family: Anton, sans-serif;
    transition: 1s;
    font-size: 20px;
}

.navigation__link:hover {
    transform: translateY(-10px);
}

main {
    padding: 0 40px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: -5px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-left: 60px;
}

h2 {
    color: #273035;
    font-size: 25px;
}

.photo_cv {
    margin-bottom: 5px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 70px;
}

.block {
    display: flex;
}

.left__block {
    width: 50%;
    color: var(--dark);
}

.myself {
    margin: 45px 0;

}

.skills {
    padding-top: 30px;
}

.languages {
    line-height: 0.5;
    padding-top: 30px;
}

.right__block {
    width: 50%;
    padding: 40px;
    background-color: var(--bright);
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px;
}


.contact {
    font-weight: 500;
}

.contact-block {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #252525;
}

a:hover {
    color: #ffb11b;
}

.container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #252525;
    background-color: var(--dark_grey);
}

footer a {
    text-decoration: none;
    color: #252525;
}

footer a:hover {
    text-decoration: none;
    color: #407688;
}

.footer__github {
    display: flex;
    align-items: center;
}

footer .github__icon {
    margin-right: 10px;
    transition: 1s;
}

.github__icon:hover {
    transform: translateY(-15px);
}

.rsschool {
    transition: 1s;
}

.rsschool:hover {
    transform: translateY(-15px);
}

.code-example pre {
    background-color: var(--dark_grey);
    border-radius: 2%;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.main_photo {
    display: flex;
    border-radius: 50px;
    box-shadow: 0 0 13px #333;

}

.project_block {
    padding: 30px 50px 20px;
}

.project_link {
    padding: 0px 100px 10px;
    font-size: 30px;
}
